body {
    background-color: #b6fcf5;
}
.center {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
    justify-content: center;
    align-items: center;
}