body {
    background-color: #242A2F;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
.center {
    width: 50%;
    margin: auto;
    display: block;
    text-align: center;
}
button {
    border: 2px;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .7s ease-in-out;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
.buyClicks:active {
    transform: scale(80%);
}
